* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #ff6d34, #ffdda4);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

@media only screen and (max-width: 400px) {
    body {
        background-image: linear-gradient(120deg, #044161, #ffdda4);
        min-height: 100vh;
        font-family: "Poppins", sans-serif;
    }
    form {
        max-width: 40%;
        margin-left: 3rem;
    }
    header {
        max-width: 30%;
    }
}

header {
    font-size: 1.5rem;
    max-width: 100%
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    max-width: 100%;
    border: none;
    background: white;
    padding: 0.5rem;
    font-size: 2rem;
}

form button {
    color: #ff6d34;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ff6d34;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
}

.todo {
    background: white;
    margin: 0.5rem;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease 0.5s;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff6d34;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: limegreen;
}

.todo-item {
    padding: 0rem 0.5rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: visible;
}

select {
    color: #ff6d34;
    width: 10rem;
    cursor: default;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6d34;
    top: 0;
    right: 0;
    padding: 0.73rem;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}

.select:hover::after {
    background: white;
    color: #ff6d34;
}